
#loginSec{
    background-image: url("public/68aa50a30ad2d56640d3ba7c65ea4a13.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  min-height: 100vh;
  position: relative;
}
#login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 500px;
  position: absolute;
  margin-left: 700px;
  margin-top: 200px;
}

#login-title {
  font-size: 3em;
  color: #ff9900;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#login-username,
#login-password {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #444444; 
  border-radius: 5px;
  background-color: #2c2c2c; 
  color: #ffffff;
  font-size: 1em;
}

#login-username::placeholder,
#login-password::placeholder {
  color: #888888; 
}

#login-button {
  padding: 12px 30px;
  background-color: #ff9900;
  color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

#login-button:hover {
  background-color: #e68a00;
}

#login-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

#login-register-link {
  color: #f3ead7;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#login-register-link:hover {
  color: #ff9900;
  text-decoration: underline;
}

#login-page p {
  color: #ffffff;
  margin-top: 20px;
}

/*Responsive Design*/
@media (max-width: 430px) {
  #login-page {
    width: 70%;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 100px;
    padding: 15px;
  }

  #login-title {
    font-size: 2.5em;
  }

  #login-username,
  #login-password {
    max-width: 100%;
  }
  #loginSec{
    background-image: url("public/68aa50a30ad2d56640d3ba7c65ea4a13.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  min-width: 40vh;
  position: relative;
}
}


@media (max-width: 1440px) {
  #login-page {
    width: 40%;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 100px;
    padding: 15px;
  }

  #login-title {
    font-size: 2.5em;
  }

  #login-username,
  #login-password {
    max-width: 50%;
  }
  #loginSec{
    background-image: url("public/68aa50a30ad2d56640d3ba7c65ea4a13.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
  min-width: 40vh;
  position: relative;
}
}